Options -Indexes

RewriteEngine on

# ErrorDocument 404 /error.php

# Site
RewriteRule ^$ app/controller/siteController.php?action=home [QSA,L]
RewriteRule ^dashboard/?$ app/controller/siteController.php?action=dashboard [QSA,L]
RewriteRule ^logout/?$ app/controller/siteController.php?action=logout [QSA,L]
RewriteRule ^login/?$ app/controller/siteController.php?action=login [QSA,L]
RewriteRule ^login/process/?$ app/controller/siteController.php?action=loginProcess [QSA,L]
RewriteRule ^profile/?$ app/controller/siteController.php?action=profile [QSA,L]
RewriteRule ^about/?$ app/controller/siteController.php?action=about [QSA,L]


# Soldier
RewriteRule ^soldiers/?$ app/controller/soldierController.php?action=soldiers [QSA,L]
RewriteRule ^soldiers/view/(\d+)/?$ app/controller/soldierController.php?action=viewSoldier&id=$1 [QSA,L]
RewriteRule ^soldiers/add/?$ app/controller/soldierController.php?action=addSoldier [QSA,L]
RewriteRule ^soldiers/add/process/?$ app/controller/soldierController.php?action=addSoldierProcess [QSA,L]
RewriteRule ^soldiers/add/process/(\d+)/?$ app/controller/soldierController.php?action=addSoldierProcess&id=$1 [QSA,L]
RewriteRule ^soldiers/edit/(\d+)/?$ app/controller/soldierController.php?action=editSoldiers&id=$1 [QSA,L]

# Crew
RewriteRule ^crews/?$ app/controller/crewController.php?action=crews [QSA,L]
RewriteRule ^crews/view/(\d+)/?$ app/controller/soldierController.php?action=viewCrew&id=$1 [QSA,L]
RewriteRule ^crews/add/?$ app/controller/crewController.php?action=addCrew [QSA,L]
RewriteRule ^crews/add/process/?$ app/controller/crewController.php?action=addCrewProcess [QSA,L]
RewriteRule ^crews/add/process/(\d+)/?$ app/controller/crewController.php?action=addCrewProcess&id=$1 [QSA,L]
RewriteRule ^crews/edit/(\d+)/?$ app/controller/crewController.php?action=editCrew&id=$1 [QSA,L]

# Map
RewriteRule ^maps/?$ app/controller/mapController.php?action=maps [QSA,L]
RewriteRule ^maps/view/(\d+)/?$ app/controller/soldierController.php?action=viewMap&id=$1 [QSA,L]
